@font-face {
  font-family: "MuseoSans";
  src: url("assets/fonts/museosans/museosans_300-webfont.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("assets/fonts/museosans/museosans_500-webfont.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("assets/fonts/museosans/museosans_700-webfont.ttf");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "MuseoSans" !important;
}

body {
  padding: 0 !important;
}
